<div class="menu">
    <img [src]="userProps?.profilePictureURI" class="profil">
    <p class="username">{{ user }}</p>

    @if (user === me) {
        <button (click)="openDialog()" class="btn">Editer le profil</button>
    } @else {
        <button (click)="clickFollow()" class="btn">{{ userProps?.followed ? "Unfollow" : "Follow"}}</button>
    }

    @if (userProps?.gitURI !== null) {
        <button (click)="goToGitHub()" class="btn">GitHub</button>
    }

    <div (click)="showStarred()" class="starred">
        @if (starredFilter === true) {
            <img class="icon" src="../../../assets/images/star_checked_black.svg"/>
        } @else {
            <img class="icon" src="../../../assets/images/star.svg"/>
        }
    </div>
</div>